* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #333333;
  color: #ffffff;
  font-family: Helvetica, sans-serif; }
  body .app {
    display: flex;
    flex-direction: column;
    align-items: center; }

header {
  margin: 20px 0; }
  header h1 {
    line-height: 0.75; }

#game-board {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #game-board #generation-count {
    margin-top: 20px; }

#grid {
  line-height: 0;
  background-color: #ffffff; }

.box {
  display: inline-block;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  margin-left: -1px;
  margin-bottom: -1px; }
  .box:hover {
    background-color: #333333; }

.off {
  background-color: #999999; }

.on {
  background-color: #25de00; }

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 21px 0; }
  #controls #buttons button {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: 2px solid #999999;
    border-radius: 50px;
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer; }
    #controls #buttons button:hover {
      background-color: #999999;
      color: #333333; }
  #controls #speed-slider {
    text-align: center;
    margin: 30px 0; }
  #controls .slider-header {
    margin-bottom: 10px; }
  #controls .input-range {
    appearance: none;
    height: 5px;
    width: 300px;
    background-color: #999999;
    border-radius: 10px; }
    #controls .input-range:focus, #controls .input-range:active {
      outline: none; }
    #controls .input-range::-webkit-slider-thumb {
      appearance: none;
      height: 20px;
      width: 20px;
      display: block;
      background-color: #ffffff;
      border-radius: 100%; }
