* {
  padding: 0;
  margin: 0;
  box-sizin: border-box; }

body {
  background-color: #999999;
  color: #ffffff;
  font-family: Helvetica, sans-serif; }

.app {
  display: flex;
  flex-direction: column;
  align-items: center; }
