.box {
  display: inline-block;
  border: 1px solid #333;
  // width: 10px;
  // height: 10px;
  margin-left: -1px;
  margin-bottom: -1px;

  &:hover {
    background-color: #333333;
  }
}

.off {
  background-color: #999999;
}

.on {
  background-color: #25de00;
}
