.box {
  display: inline-block;
  border: 1px solid $backgroundGray;
  margin-left: -1px;
  margin-bottom: -1px;

  &:hover {
    background-color: $backgroundGray;
  }
}

.off {
  background-color: $darkGray;
}

.on {
  background-color: $green;
}
