.box {
  display: inline-block;
  border: 1px solid #000000;
  width: 10px;
  height: 10px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: #999999;
}

.on {
  background-color: #1a9601;
}

.box:hover {
  background-color: #333333;
}
