#game-board {
  display: flex;
  flex-direction: column;
  align-items: center;

  #generation {
    margin-top: 30px;
    color: $green;
    font-size: 1.3em;
    font-weight: bold;

    #gen-count {
      color: $white;
    }
  }
}
