#sliders {
  .slider-container {
    text-align: center;
    margin: 30px 0;
  }

  .slider-header {
    margin-bottom: 10px;
  }

  .slider {
    appearance: none;
    height: 5px;
    width: 300px;
    background-color: $green;
    outline: none;
    border-radius: 10px;

    &:focus,
    &:active {
      outline: none;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      height: 20px;
      width: 20px;
      display: block;
      background-color: $white;
      border-radius: 100%;
    }
  }
}
